In [1]:
import pandas as pd

In [2]:
df_wea = pd.read_csv("weather.csv")
df_pro = pd.read_csv("label.csv")

In [3]:
df_pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연도        7 non-null      int64
 1   노지온주(조생)  7 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 240.0 bytes

In [4]:
df_wea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1498 non-null   object
 1   Tem_mean       1498 non-null   float64
 2   Wspeed_mean    1498 non-null   float64
 3   Humid_mean     1498 non-null   float64
 4   Sunshine_mean  1498 non-null   float64
 5   tem_diff       1498 non-null   float64
dtypes: float64(5), object(1)
memory usage: 70.3+ KB

## 발아기: 4월, 비대기: 8~10월

In [5]:
df_wea['Date'] = pd.to_datetime(df_wea['Date'])

In [6]:
df_wea['year'] = df_wea['Date'].dt.year
df_wea['month'] = df_wea['Date'].dt.month

In [7]:
df_enlarge = df_wea[df_wea['month'] == 4].groupby('year').agg({
        'Tem_mean': 'mean',
        'Wspeed_mean': 'mean',
        'Humid_mean': 'mean',
        'Sunshine_mean':'mean'
    }).reset_index()

df_enlarge = df_enlarge.rename(columns={
    'Tem_mean': 'Tem_mean_enlarge',
    'Wspeed_mean': 'Wspeed_mean_enlarge',
    'Humid_mean': 'Humid_mean_enlarge',
    'Sunshine_mean':'Sunshine_mean_enlarge'
})

In [8]:
df_bulk = df_wea[df_wea['month'].between(8,10)] \
    .groupby('year').agg({
        'Tem_mean': 'mean',
        'Wspeed_mean': 'mean',
        'Humid_mean': 'mean',
        'Sunshine_mean':'mean'
    }).reset_index()

df_bulk = df_bulk.rename(columns={
    'Tem_mean': 'Tem_mean_bulk',
    'Wspeed_mean': 'Wspeed_mean_bulk',
    'Humid_mean': 'Humid_mean_bulk',
    'Sunshine_mean':'Sunshine_mean_bulk'
})

In [9]:
df_enlarge

,year,Tem_mean_enlarge,Wspeed_mean_enlarge,Humid_mean_enlarge,Sunshine_mean_enlarge
0,2015,15.003333,2.373333,75.223333,5.470000
1,2016,15.796667,1.816667,75.430000,6.020000
2,2017,15.696667,1.760000,70.886667,6.033333
3,2018,15.973333,1.643333,77.046667,6.310000
4,2019,14.956667,1.690000,75.356667,6.686667
5,2020,13.823333,1.686667,64.720000,8.843333
6,2021,15.983333,2.043333,67.930000,7.663333

In [10]:
df_weather = pd.merge(df_enlarge,df_bulk)

In [11]:
df_final = df_pro.merge(df_weather, left_on='연도', right_on='year', how='left')

df_final = df_final.drop(columns=['year'])

print(df_final.head())

     연도      노지온주(조생)  Tem_mean_enlarge  Wspeed_mean_enlarge  \
0  2015  21041.733333         15.003333             2.373333
1  2016  16911.266667         15.796667             1.816667
2  2017  16305.866667         15.696667             1.760000
3  2018  16972.400000         15.973333             1.643333
4  2019  20525.466667         14.956667             1.690000

   Humid_mean_enlarge  Sunshine_mean_enlarge  Tem_mean_bulk  Wspeed_mean_bulk  \
0           75.223333               5.470000      22.645652          2.211957
1           75.430000               6.020000      23.957609          1.879348
2           70.886667               6.033333      24.104348          2.066304
3           77.046667               6.310000      23.056522          2.018478
4           75.356667               6.686667      23.757609          1.989130

   Humid_mean_bulk  Sunshine_mean_bulk
0        72.175000            7.372826
1        80.275000            5.506522
2        78.377174            6.232609
3        81.836957            6.556522
4        87.235870            6.398913

In [12]:
df_final.to_csv("final.csv",index=False,encoding='cp949')

In [13]:
df_final

,연도,노지온주(조생),Tem_mean_enlarge,Wspeed_mean_enlarge,Humid_mean_enlarge,Sunshine_mean_enlarge,Tem_mean_bulk,Wspeed_mean_bulk,Humid_mean_bulk,Sunshine_mean_bulk
0,2015,21041.733333,15.003333,2.373333,75.223333,5.470000,22.645652,2.211957,72.175000,7.372826
1,2016,16911.266667,15.796667,1.816667,75.430000,6.020000,23.957609,1.879348,80.275000,5.506522
2,2017,16305.866667,15.696667,1.760000,70.886667,6.033333,24.104348,2.066304,78.377174,6.232609
3,2018,16972.400000,15.973333,1.643333,77.046667,6.310000,23.056522,2.018478,81.836957,6.556522
4,2019,20525.466667,14.956667,1.690000,75.356667,6.686667,23.757609,1.989130,87.235870,6.398913
5,2020,20260.066667,13.823333,1.686667,64.720000,8.843333,22.643478,1.876087,80.552174,6.270236
6,2021,20087.533333,15.983333,2.043333,67.930000,7.663333,23.625000,1.896739,82.252174,6.280435